/#lists.py
/Bools and Floats.py
/circle diameter calculater.py
/Discount Calculator.py
/Guessing Game.py
/Happy birthday.py
/Inbuilt Functions.py
/Movie Ticket Price.py
/odd number finder.py
/pkgs.py
/Product_Catalog.py
/sandwitch.py
/Temprature Converter.py
/timer.py